# General
.DS_Store
*.log

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
/.idea/
.vscode/

# Platform folders to ignore (if you don't want to push them)
ios/
linux/
macos/
windows/
web/

# Android (keep android/ if you want android code)
# If you want android only, DO NOT ignore android/
